In [ ]:
!pip install alibi[ray]

:

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

from utils.df_loader import load_adult_df, load_compas_df, load_german_df, load_diabetes_df, load_breast_cancer_df, load_electricity_df
from utils.preprocessing import preprocess_df,get_columns_type
from sklearn.model_selection import train_test_split
from utils.dice import generate_dice_result, process_results
from utils.models import train_three_models, evaluation_test, save_three_models, load_three_models
from utils.save import save_result_as_csv

pd.options.mode.chained_assignment = None 

print('TF version: ', tf.__version__)
print('Eager execution enabled: ', tf.executing_eagerly()) # False

seed = 123
tf.random.set_seed(seed)
np.random.seed(seed)

TF version:  2.15.0
Eager execution enabled:  True

In [5]:
#### Select dataset ####'

dataset_name = 'adult' # [adult, german, compas]

if dataset_name == 'electricity':
    dataset_loading_fn = load_electricity_df
elif dataset_name == 'adult':
    dataset_loading_fn = load_adult_df
elif dataset_name == 'german':
    dataset_loading_fn = load_german_df
elif dataset_name == 'compas':
    dataset_loading_fn = load_compas_df
elif dataset_name == 'diabetes':
    dataset_loading_fn = load_diabetes_df
elif dataset_name == 'breast_cancer':
    dataset_loading_fn = load_breast_cancer_df
else:
    raise Exception("Unsupported dataset")

In [6]:
#### Load datafram info.
df_info = preprocess_df(dataset_loading_fn)
df_info

DfInfo(df=       age         workclass   education      marital-status  \
0       39         State-gov   Bachelors       Never-married
1       50  Self-emp-not-inc   Bachelors  Married-civ-spouse
2       38           Private     HS-grad            Divorced
3       53           Private        11th  Married-civ-spouse
4       28           Private   Bachelors  Married-civ-spouse
...    ...               ...         ...                 ...
32556   27           Private  Assoc-acdm  Married-civ-spouse
32557   40           Private     HS-grad  Married-civ-spouse
32558   58           Private     HS-grad             Widowed
32559   22           Private     HS-grad       Never-married
32560   52      Self-emp-inc     HS-grad  Married-civ-spouse

              occupation   relationship   race     sex  capital-gain  \
0           Adm-clerical  Not-in-family  White    Male          2174
1        Exec-managerial        Husband  White    Male             0
2      Handlers-cleaners  Not-in-family  White    Male             0
3      Handlers-cleaners        Husband  Black    Male             0
4         Prof-specialty           Wife  Black  Female             0
...                  ...            ...    ...     ...           ...
32556       Tech-support           Wife  White  Female             0
32557  Machine-op-inspct        Husband  White    Male             0
32558       Adm-clerical      Unmarried  White  Female             0
32559       Adm-clerical      Own-child  White    Male             0
32560    Exec-managerial           Wife  White  Female         15024

       capital-loss  hours-per-week native-country  class
0                 0              40  United-States  <=50K
1                 0              13  United-States  <=50K
2                 0              40  United-States  <=50K
3                 0              40  United-States  <=50K
4                 0              40           Cuba  <=50K
...             ...             ...            ...    ...
32556             0              38  United-States  <=50K
32557             0              40  United-States   >50K
32558             0              40  United-States  <=50K
32559             0              20  United-States  <=50K
32560             0              40  United-States   >50K

[32561 rows x 13 columns], feature_names=['age', 'workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'], numerical_cols=['age', 'capital-gain', 'capital-loss', 'hours-per-week'], categorical_cols=['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'class'], columns_type={'integer': ['age', 'capital-gain', 'capital-loss', 'hours-per-week'], 'float': [], 'string': ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'class']}, target_name='class', possible_outcomes=['<=50K', '>50K'], scaled_df=            age         workclass   education      marital-status  \
0      0.301370         State-gov   Bachelors       Never-married
1      0.452055  Self-emp-not-inc   Bachelors  Married-civ-spouse
2      0.287671           Private     HS-grad            Divorced
3      0.493151           Private        11th  Married-civ-spouse
4      0.150685           Private   Bachelors  Married-civ-spouse
...         ...               ...         ...                 ...
32556  0.136986           Private  Assoc-acdm  Married-civ-spouse
32557  0.315068           Private     HS-grad  Married-civ-spouse
32558  0.561644           Private     HS-grad             Widowed
32559  0.068493           Private     HS-grad       Never-married
32560  0.479452      Self-emp-inc     HS-grad  Married-civ-spouse

              occupation   relationship   race     sex  capital-gain  \
0           Adm-clerical  Not-in-family  White    Male      0.021740
1        Exec-managerial        Husband  White    Male      0.000000
2      Handlers-cleaners  Not-in-family  White    Male      0.000000
3      Handlers-cleaners        Husband  Black    Male      0.000000
4         Prof-specialty           Wife  Black  Female      0.000000
...                  ...            ...    ...     ...           ...
32556       Tech-support           Wife  White  Female      0.000000
32557  Machine-op-inspct        Husband  White    Male      0.000000
32558       Adm-clerical      Unmarried  White  Female      0.000000
32559       Adm-clerical      Own-child  White    Male      0.000000
32560    Exec-managerial           Wife  White  Female      0.150242

       capital-loss  hours-per-week native-country  class
0               0.0        0.397959  United-States      0
1               0.0        0.122449  United-States      0
2               0.0        0.397959  United-States      0
3               0.0        0.397959  United-States      0
4               0.0        0.397959           Cuba      0
...             ...             ...            ...    ...
32556           0.0        0.377551  United-States      0
32557           0.0        0.397959  United-States      1
32558           0.0        0.397959  United-States      0
32559           0.0        0.193878  United-States      0
32560           0.0        0.397959  United-States      1

[32561 rows x 13 columns], scaler=MinMaxScaler(), cat_to_ohe_cat={'workclass': ['workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Never-worked', 'workclass_Private', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'workclass_Without-pay'], 'education': ['education_10th', 'education_11th', 'education_12th', 'education_1st-4th', 'education_5th-6th', 'education_7th-8th', 'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate', 'education_HS-grad', 'education_Masters', 'education_Preschool', 'education_Prof-school', 'education_Some-college'], 'marital-status': ['marital-status_Divorced', 'marital-status_Married-AF-spouse', 'marital-status_Married-civ-spouse', 'marital-status_Married-spouse-absent', 'marital-status_Never-married', 'marital-status_Separated', 'marital-status_Widowed'], 'occupation': ['occupation_Adm-clerical', 'occupation_Armed-Forces', 'occupation_Craft-repair', 'occupation_Exec-managerial', 'occupation_Farming-fishing', 'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct', 'occupation_Other-service', 'occupation_Priv-house-serv', 'occupation_Prof-specialty', 'occupation_Protective-serv', 'occupation_Sales', 'occupation_Tech-support', 'occupation_Transport-moving'], 'relationship': ['relationship_Husband', 'relationship_Not-in-family', 'relationship_Other-relative', 'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife'], 'race': ['race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White'], 'sex': ['sex_Female', 'sex_Male'], 'native-country': ['native-country_Cambodia', 'native-country_Canada', 'native-country_China', 'native-country_Columbia', 'native-country_Cuba', 'native-country_Dominican-Republic', 'native-country_Ecuador', 'native-country_El-Salvador', 'native-country_England', 'native-country_France', 'native-country_Germany', 'native-country_Greece', 'native-country_Guatemala', 'native-country_Haiti', 'native-country_Holand-Netherlands', 'native-country_Honduras', 'native-country_Hong', 'native-country_Hungary', 'native-country_India', 'native-country_Iran', 'native-country_Ireland', 'native-country_Italy', 'native-country_Jamaica', 'native-country_Japan', 'native-country_Laos', 'native-country_Mexico', 'native-country_Nicaragua', 'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru', 'native-country_Philippines', 'native-country_Poland', 'native-country_Portugal', 'native-country_Puerto-Rico', 'native-country_Scotland', 'native-country_South', 'native-country_Taiwan', 'native-country_Thailand', 'native-country_Trinadad&Tobago', 'native-country_United-States', 'native-country_Vietnam', 'native-country_Yugoslavia']}, ohe_feature_names=['age', 'capital-gain', 'capital-loss', 'hours-per-week', 'workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Never-worked', 'workclass_Private', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'workclass_Without-pay', 'education_10th', 'education_11th', 'education_12th', 'education_1st-4th', 'education_5th-6th', 'education_7th-8th', 'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate', 'education_HS-grad', 'education_Masters', 'education_Preschool', 'education_Prof-school', 'education_Some-college', 'marital-status_Divorced', 'marital-status_Married-AF-spouse', 'marital-status_Married-civ-spouse', 'marital-status_Married-spouse-absent', 'marital-status_Never-married', 'marital-status_Separated', 'marital-status_Widowed', 'occupation_Adm-clerical', 'occupation_Armed-Forces', 'occupation_Craft-repair', 'occupation_Exec-managerial', 'occupation_Farming-fishing', 'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct', 'occupation_Other-service', 'occupation_Priv-house-serv', 'occupation_Prof-specialty', 'occupation_Protective-serv', 'occupation_Sales', 'occupation_Tech-support', 'occupation_Transport-moving', 'relationship_Husband', 'relationship_Not-in-family', 'relationship_Other-relative', 'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White', 'sex_Female', 'sex_Male', 'native-country_Cambodia', 'native-country_Canada', 'native-country_China', 'native-country_Columbia', 'native-country_Cuba', 'native-country_Dominican-Republic', 'native-country_Ecuador', 'native-country_El-Salvador', 'native-country_England', 'native-country_France', 'native-country_Germany', 'native-country_Greece', 'native-country_Guatemala', 'native-country_Haiti', 'native-country_Holand-Netherlands', 'native-country_Honduras', 'native-country_Hong', 'native-country_Hungary', 'native-country_India', 'native-country_Iran', 'native-country_Ireland', 'native-country_Italy', 'native-country_Jamaica', 'native-country_Japan', 'native-country_Laos', 'native-country_Mexico', 'native-country_Nicaragua', 'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru', 'native-country_Philippines', 'native-country_Poland', 'native-country_Portugal', 'native-country_Puerto-Rico', 'native-country_Scotland', 'native-country_South', 'native-country_Taiwan', 'native-country_Thailand', 'native-country_Trinadad&Tobago', 'native-country_United-States', 'native-country_Vietnam', 'native-country_Yugoslavia'], target_label_encoder=LabelEncoder(), dummy_df=            age  capital-gain  capital-loss  hours-per-week  \
0      0.301370      0.021740           0.0        0.397959
1      0.452055      0.000000           0.0        0.122449
2      0.287671      0.000000           0.0        0.397959
3      0.493151      0.000000           0.0        0.397959
4      0.150685      0.000000           0.0        0.397959
...         ...           ...           ...             ...
32556  0.136986      0.000000           0.0        0.377551
32557  0.315068      0.000000           0.0        0.397959
32558  0.561644      0.000000           0.0        0.397959
32559  0.068493      0.000000           0.0        0.193878
32560  0.479452      0.150242           0.0        0.397959

       workclass_Federal-gov  workclass_Local-gov  workclass_Never-worked  \
0                          0                    0                       0
1                          0                    0                       0
2                          0                    0                       0
3                          0                    0                       0
4                          0                    0                       0
...                      ...                  ...                     ...
32556                      0                    0                       0
32557                      0                    0                       0
32558                      0                    0                       0
32559                      0                    0                       0
32560                      0                    0                       0

       workclass_Private  workclass_Self-emp-inc  workclass_Self-emp-not-inc  \
0                      0                       0                           0
1                      0                       0                           1
2                      1                       0                           0
3                      1                       0                           0
4                      1                       0                           0
...                  ...                     ...                         ...
32556                  1                       0                           0
32557                  1                       0                           0
32558                  1                       0                           0
32559                  1                       0                           0
32560                  0                       1                           0

       ...  native-country_Puerto-Rico  native-country_Scotland  \
0      ...                           0                        0
1      ...                           0                        0
2      ...                           0                        0
3      ...                           0                        0
4      ...                           0                        0
...    ...                         ...                      ...
32556  ...                           0                        0
32557  ...                           0                        0
32558  ...                           0                        0
32559  ...                           0                        0
32560  ...                           0                        0

       native-country_South  native-country_Taiwan  native-country_Thailand  \
0                         0                      0                        0
1                         0                      0                        0
2                         0                      0                        0
3                         0                      0                        0
4                         0                      0                        0
...                     ...                    ...                      ...
32556                     0                      0                        0
32557                     0                      0                        0
32558                     0                      0                        0
32559                     0                      0                        0
32560                     0                      0                        0

       native-country_Trinadad&Tobago  native-country_United-States  \
0                                   0                             1
1                                   0                             1
2                                   0                             1
3                                   0                             1
4                                   0                             0
...                               ...                           ...
32556                               0                             1
32557                               0                             1
32558                               0                             1
32559                               0                             1
32560                               0                             1

       native-country_Vietnam  native-country_Yugoslavia  class
0                           0                          0      0
1                           0                          0      0
2                           0                          0      0
3                           0                          0      0
4                           0                          0      0
...                       ...                        ...    ...
32556                       0                          0      0
32557                       0                          0      1
32558                       0                          0      0
32559                       0                          0      0
32560                       0                          0      1

[32561 rows x 104 columns])

In [18]:
### Seperate to train and test set.
train_df, test_df = train_test_split(df_info.dummy_df, train_size=.8, random_state=seed, shuffle=True)

In [19]:
train_df

,date,period,nswprice,nswdemand,vicprice,vicdemand,transfer,target
3114,0.460334,0.361702,0.105589,0.512645,0.006992,0.591403,0.201188,1
7704,0.912172,0.021277,0.044710,0.220470,0.002879,0.312015,0.528121,1
17147,0.880581,0.021277,0.084995,0.434841,0.005388,0.422320,0.609510,1
8080,0.893899,0.170213,0.044834,0.290539,0.002690,0.415588,0.780978,0
7016,0.867130,0.340426,0.040442,0.506694,0.002709,0.324184,0.442615,1
...,...,...,...,...,...,...,...,...
15377,0.013495,0.787234,0.053714,0.668997,0.003467,0.422915,0.432556,0
21602,0.428963,0.468085,0.079138,0.350491,0.003467,0.422915,0.432556,1
17730,0.876023,0.404255,0.034179,0.557870,0.001867,0.537804,0.673982,1
15725,0.871997,0.468085,0.034179,0.503868,0.001695,0.275246,0.940557,0
19966,0.876067,0.659574,0.029224,0.307051,0.000837,0.275764,0.801555,1

In [29]:
test_df

,date,period,nswprice,nswdemand,vicprice,vicdemand,transfer,target
11086,0.460865,0.723404,0.142074,0.606665,0.009412,0.438374,0.426612,1
12114,0.013053,1.000000,0.050069,0.534216,0.003467,0.422915,0.432556,1
2277,0.014247,0.680851,0.042124,0.494942,0.003467,0.422915,0.432556,0
21817,0.437768,0.021277,0.049321,0.249926,0.003467,0.422915,0.432556,0
18012,0.013716,0.744681,0.047483,0.502380,0.003467,0.422915,0.432556,0
...,...,...,...,...,...,...,...,...
21693,0.030795,0.595745,0.115372,0.534811,0.003467,0.422915,0.432556,1
13622,0.009867,0.361702,0.049819,0.644749,0.003467,0.422915,0.432556,0
10376,0.013141,0.404255,0.043152,0.421749,0.003467,0.422915,0.432556,0
8542,0.867395,0.212766,0.021498,0.093127,0.000841,0.120663,0.941015,0
3698,0.438034,0.787234,0.120389,0.558465,0.003467,0.422915,0.432556,1

In [20]:
len(test_df)

4617

In [21]:
len(train_df)

18467

In [22]:
get_columns_type

In [23]:
df_info.columns_type

{'integer': [],
 'float': ['date',
  'period',
  'nswprice',
  'nswdemand',
  'vicprice',
  'vicdemand',
  'transfer'],
 'string': ['target']}

In [24]:
len(df_info.numerical_cols)

7

In [28]:
df_info.categorical_cols

['target']

In [25]:
#df_info.categorical_cols

#cat_to_ohe_cat
len(df_info.ohe_feature_names)

#print(len(df_info.ohe_feature_names.keys()))

7

In [26]:
df_info.cat_to_ohe_cat

{}

In [312]:
len(df_info.categorical_cols
)

1

In [27]:
df_info.categorical_cols

['target']

In [31]:
scaled_cf_df = df_info.scaled_df
scaled_cf_df

,date,period,nswprice,nswdemand,vicprice,vicdemand,transfer,target
0,0.429715,0.106383,0.042996,0.166022,0.003467,0.422915,0.432556,N
1,0.455909,0.574468,0.073094,0.578846,0.005164,0.720093,0.185186,Y
2,0.442724,0.702128,0.064556,0.528563,0.004285,0.545054,0.433013,N
3,0.881333,0.468085,0.034023,0.348557,0.002081,0.280684,0.690900,Y
4,0.885138,0.489362,0.036236,0.518001,0.002462,0.582859,0.235482,N
...,...,...,...,...,...,...,...,...
23079,0.911331,0.319149,0.047171,0.486760,0.003018,0.542983,0.438042,N
23080,0.474183,0.808511,0.028415,0.303184,0.001753,0.136199,0.873342,N
23081,0.912128,0.446809,0.045146,0.350788,0.002867,0.265924,0.687243,Y
23082,0.885403,0.914894,0.028166,0.434692,0.001843,0.418954,0.567901,N
23083,0.000796,0.574468,0.094373,0.308242,0.003467,0.422915,0.432556,N

In [30]:
df_info.target_label_encoder.inverse_transform([scaled_cf_df.loc[0, df_info.target_name]])[0]

LabelEncoder()